/*Estos son los estilos del index*/

* { /*Aqui definimos que el diseño ocupe toda la pantalla*/
    padding: 0; 
    margin: 0;
  }
  
  /*Agregamos margenes inferiores a los parrafos*/
  p {
    margin-bottom: 30px; /*Se establece el margen de la parte inferior*/
    
  }

  header { 
    background: rgba(15, 193, 184, 0.9); /*Con esta propiedad elegimos el color de la barra y agregando un 4to numero al final podemos escoger si se quiere tener un efecto de transparencia*/
    width: 100%;/*Se define que la barra ocupe toda la pantalla*/ 
    position: fixed; /*Con la propiedad position especificamos donde se va posicionar la barra de menu si la ponemos en fixed siempre se va a ver asi hagamos scroll*/
    z-index: 100;
  }
  
  nav {
    float: inline; /* Aqui se puede desplazar el nav*/
  }
  
  nav ul {
    list-style: none; /*Esta opcion se la ponemos para que no muestre ningun */
    overflow: hidden; /*Nos permite regular la visibilidad cuando se hace scroll*/
  }
  
  nav ul li {
    float: left; /*Con esta propiedad se alniea el texto del menu a la izquierda*/
    font-family: Arial, sans-serif;
    font-size: 20px; /*Se elige el tamaño del menu*/
  }
  
  nav ul li a {
    display: block; /* Se convierten los elementos en un bloque */
    padding: 30px; /*Se define el ancho de las opciones*/
    color: #fff; /*Se define el color de la letra al interior del menu*/
    text-decoration: none;/*Con esto quitamos o ponemos el underline en las opciones*/
  }
  
  nav ul li:hover {
    background: #0437b8; /*Se define el color azul para el cambio de la seccion cuando se elige*/
  }
  
  .contenido {
    padding-top: 100px; /*Alineamos el contenido para que no quede pegado al margen superior*/
  }
  
  .principal {
    width: 80%;
    margin: auto;/*Alineamos el contenido para que quede centrado*/
    overflow:hidden;
  }

  #Registerbutton{
    float: right;
    text-decoration: none;
    font-family: arial;
    width: 50px;
    height: 30px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  #Registerbutton:hover{
    background-color: #1100ff;
    text-decoration: none;
  }
  .boton_1{
    border-radius: 20px;
    float: center;
    text-decoration: none;
    font-family: arial;
    width: 120px;
    height: 30px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  .boton_1:hover{
    background-color: #0FBEB8;
    text-decoration: none;
  }

  /*Desde aqui comienzan los estilos del Formulario*/


  fieldset /*Con esta propiedad demarcamos el campo de registro entre un recuadro*/
{
  background-color:#CCC;
  max-width:500px;
  padding:16px;	
  border:2px solid rgb(0, 0, 0);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
   border-radius:8px;
   
}

  input[type=text] {
    border: 2px solid green;
    border-radius: 4px;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
    background: #ffffff;
  }
  input[type=email] {
    border: 2px solid green;
    border-radius: 4px;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
    background: #ffffff;
  }
  input[type=password] {
    border: 2px solid green;
    border-radius: 4px;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
    background: #ffffff;
  }
  input[type=radio] {
    border: 3px solid green;
    border-radius: 4px;
  }

  h1{
    width:500px;
    margin:25px auto;
    text-align:center;
    color:#000000;
    font-family:sans-serif;
    
  }

  #fondo{
    background-color:rgb(215, 246, 248);
  }

  #formRegistro{

    width:100px;
    height:200px;
    margin:10px auto;
    color:#000000;
    font-family:sans-serif;
    font-size: 15px;
    text-align:left;
    justify-content:center;
    margin-bottom: 30px; 
  }

  #boton_registro{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 15px #fdfcfc;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 150px;
  background: #000000;
  border: solid #000000 2px;
  text-decoration: none;
  width: 100%;
  text-align:center;
  margin-bottom: 10px;
  }

  #boton_registro:hover{
    background-color: #c9c9c9;
  }
